Source: ros-galactic-nao-button-sim
Section: misc
Priority: optional
Maintainer: ijnek <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-galactic-ament-copyright, ros-galactic-ament-flake8, ros-galactic-ament-pep257, ros-galactic-nao-sensor-msgs, ros-galactic-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-nao-button-sim
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-galactic-nao-sensor-msgs, ros-galactic-ros-workspace
Description: Allows simulating button presses through command line interface
